body{
	background-color: white;
}
		img{
			object-fit: fill;
			height: 100%;
			width: 100%;
					
		}
		div.header{
			height: 75px;
			background-color: #F8F8FF;
						
}
		div.content{
			width: 100%;
			height: 350px;
}
		div.footer{
			background-color: #F8F8FF; 
}

	ul{

		list-style-type: none;
  			margin: 0;
 			padding: 0;
	}

	li{
		display: inline;
			padding: 2px;
	}